DATABASE_URL="postgresql://user:password@localhost:5432/fiji"

GOOGLE_CLIENT_ID=replace_me
GOOGLE_CLIENT_SECRET=replace_me
GITHUB_CLIENT_ID=replace_me
GITHUB_CLIENT_SECRET=replace_me
BETTER_AUTH_SECRET=secret

RESEND_API_KEY=replace_me